input[name='practice-mode']:checked+#practice-mode-block {
    display: block;
}

input[name='practice-mode'],
input[name='default-mode'] {
    visibility: hidden;
}

aside input {
    display: none;
}

aside label {
    border-radius: 1rem;
    padding: 0.5rem;
    border: 2px solid yellow;
    margin: 0 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

aside label:has([name='delete-mode']) {
    border-color: red;
    margin: 1rem 2rem;
}

aside label:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

aside label:has(input[name='delete-mode']):checked {
    background-color: rgba(93, 14, 14, 0.7);
}

aside label:has(input:checked) {
    background-color: rgba(20, 187, 126, 0.6);
    color: wheat;
}

aside button {
    width: 100%;
    padding: 1rem;
}

#practice-mode-block {
    display: none;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3px;
}

@media screen and (max-width: 920px) {
    #practice-mode-block {
        flex-direction: row;
        justify-content: space-between;
    }
    #practice-mode-block button,
    #practice-mode-block {
        font-size: 0.75rem;
    }
    #practice-mode-block button {
        padding: 0.25rem;
    }
    #practice-mode-block div.action-selection-block {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #practice-mode-block div.color-selection-block {
        flex-direction: column;
        padding: 0 !important;
        flex-wrap: wrap;
    }
    #practice-mode-block div.radio-selection-block {
        flex-flow: row wrap !important;
        gap: 0.25rem !important;
    }
    #practice-mode-block label {
        padding: 0.25rem;
        margin: 0;
        display: flex;
        align-items: center;
    }
}

#practice-mode-block div.color-selection-block {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
}

#practice-mode-block div.radio-selection-block {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 3px;
}

#practice-mode-block div.color-selection-block label {
    border-color: white;
}

#practice-mode-block div.color-selection-block label:has(input:checked) {
    background-color: rgba(31, 62, 77, 0.6);
}

#inner-board.practice-mode .brick {
    cursor: crosshair;
}

#inner-board.practice-mode .brick:hover {
    cursor: crosshair;
}

#inner-board.practice-mode {
    cursor: crosshair;
}