:root {
    --checkers-board-image: url("michael-dziedzic-zqbTr1jwSxc-unsplash.jpg");
    --chess-board-image: url(noita-digital-zcx5ztIjQAM-unsplash.jpg);
}

* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body,
html {
    margin: 0;
    padding: 0;
}

h2 {
    text-transform: capitalize;
}

.container {
    display: grid;
    grid-template-columns: minmax(15rem, 20vw) auto;
    grid-template-rows: 10vh 90vh 20%;
    grid-template-areas: "header header""aside main""footer footer";
    position: relative;
    margin: 0 1rem;
}

.container>* {
    border: 1px solid black;
}

header {
    grid-area: header;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 1rem;
}

header nav button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin: 0 1rem;
}

.logo {
    /*height: 90%;
     aspect-ratio: 1;
    border: 1px solid black;
    background: url("../svg-figures/chess.png") no-repeat fixed center; */
    font-size: 2rem;
}

@media screen and (max-width: 720px) {
    .logo {
        font-size: 1rem;
    }
    nav {
        display: flex;
    }
}

footer {
    grid-area: footer;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
    display: grid;
    place-items: center;
    max-width: 100%;
}

@media screen and (max-width: 920px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 10vh auto 10vh auto;
        grid-template-areas: "header "" aside""main"" footer";
    }
    aside .aside-buttons {
        display: flex;
    }
    .aside-buttons button {
        padding: 0.5rem;
    }
}